<!DOCTYPE html>
<html>
<body>
    <button onclick="left()" id="leftBtn">Turn Left</button>
    <button onclick="right()" id="rightBtn">Turn Right</button>
    <button onclick="forward()" id="forwardBtn">Go Forward</button>
    <button onclick="back()" id="backBtn">Go Backward</button>
    <h1 id="statusBar">DISCONNECTED</h1>
    <div id="robots">
        
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="../static/Client.js"></script>
<script src="../static/Graphics-updater.js"></script>
</html>
