<!DOCTYPE html>
<html>
<body>
    <button onclick="left()" id="leftBtn">Turn Left</button>
    <button onclick="right()" id="rightBtn">Turn Right</button>
    <button onclick="forward()" id="forwardBtn">Go Forward</button>
    <button onclick="backward()" id="backwardBtn">Go backward</button>

    <canvas id="myCanvas" width="600" height="600" style="border:1px solid #000000;"></canvas>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="../static/clientjs.js"></script>
<script src="../static/canvas-handler.js"></script>
</html>
